body
{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Playfair Display';
  font-weight: bold;
}

Button
{
    margin: 1rem;
    padding: 0.6rem, 1.2rem;
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    background-color: #FFF9C4;
    border-radius: 10px;
    margin-top: 1.3rem;
}

.content-wrapper
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer
{
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    font-size: 0.9rem;
}

Button:hover
{
    background-color: #FFFEF3;
}

h1
{
    margin-top: 1rem;
    font-size: clamp(1.7rem, 4.7vw, 3.7rem);
    margin-bottom: 0.6rem;
}

h4
{
   margin-top: 0.6rem;
   font-size: clamp(0.7rem, 2.3vw, 1.7rem);
   margin-bottom: 3rem;
}

img
{
    max-width: 100%;
    height: auto;
}

input
{
    background-color: #FFF9C4;
    border-radius: 10px;
    padding-left: 5px;
    font-weight: bold;
}

input:hover, input:focus, option
{
    background-color: #FFFFFF;
}

p
{
    margin-top: 0px;
}

.status
{
    text-align: center;
}

select
{
    background-color: #FFF9C4;
    margin-bottom: 1.5rem;
}

select:hover, option:hover
{
    background-color: #FFFEF3;
}