<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magpie.Nest</title>
    <link rel="stylesheet" href="/DownloadPageStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Welcome to Magpie.Nest</h1>
    <h4>Download youtube videos in MP4 format</h4>
    <input type="text" placeholder="Link" id="link">
    <!-- <input type="file" class="file" webkitdirectory directory multiple> -->
    <Button onclick="download()">Download</Button>
    <script src="/Download.js"></script>
    <p id="status"></p>
</body>
</html>